.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.main__wrapper {
  flex-direction: column;
}

.main__title {
  .offset(0 0 20px 0; 0);
  .typography(28px; normal);
  text-align: center;
  text-transform: uppercase;
  color: @white;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 50px;
  }
}

.main__subtitle {
  .offset(0 0 47px 0; 0);
  .typography(26px; 28px);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    .typography(40px; 46px);
  }
}

.main__subtitle--management {
  color: @white;
}

.main__subtitle--about {
  color: @white;
}

.main__subtitle--history {
  color: @white;
}
