// Стили для слайдера Swiper

.management__slider .swiper-pagination-bullet,
.about__slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: @white;
}

.about__slider .swiper-wrapper {
  align-items: stretch;
}

.about__wrapper .swiper-slide {
  height: auto;
}

.about__slider .swiper-button-prev,
.about__slider .swiper-button-next {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid @white;
    transition: 0.4s ease;
  }

  &::after {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 24px;
    color: @white;
  }

  &:hover {
    transition: 0.4s ease;
    background-color: @black;
  }
}

.gallery__slider .swiper-button-prev,
.gallery__slider .swiper-button-next {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid @white;
  transition: 0.4s ease;

  &::after {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 24px;
    color: @white;
  }

  &:hover {
    transition: 0.4s ease;
    background-color: @black;
  }

  @media (min-width: @desktop-width) {
    border-color: @black;

    &::after {
      color: @black;
    }

    &:hover {
      &::after {
        color: @white;
      }
    }
  }
}

.about__slider .swiper-button-prev,
.gallery__slider .swiper-button-prev {
  top: auto;
  bottom: 68px;
  left: 0;

  @media (min-width: @desktop-width) {
    &::after {
      left: 35%;
    }
  }
}

.gallery__slider .swiper-button-prev {
  left: 10px;
  bottom: 93px;

  @media (min-width: @desktop-width) {
    bottom: 58px;
  }
}

.about__slider .swiper-button-next,
.gallery__slider .swiper-button-next {
  top: auto;
  bottom: 20px;
  left: 48px;
  right: auto;
}

.gallery__slider .swiper-button-next {
  left: 58px;
  bottom: 45px;

  @media (min-width: @desktop-width) {
    bottom: 10px;
  }
}

.about__slider .swiper-pagination-fraction,
.gallery__slider .swiper-pagination-fraction {
  top: auto;
  left: -5px;
  bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: @white;
  z-index: 100;
  width: 50px;
}

.gallery__slider .swiper-pagination-fraction {
  left: 5px;
  bottom: 45px;

  @media (min-width: @desktop-width) {
    color: @black;
    bottom: 10px;
  }
}

.history__slider {
  max-height: 640px;

  @media (min-width: @tablet-width) {
    max-height: 540px;
  }
}

.history__slider .swiper-slide-next {
  opacity: 0.5;
}

.history__slider .swiper-button-prev,
.history__slider .swiper-button-next {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid @white;
  transition: 0.4s ease;

  &::after {
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 24px;
    color: @white;
    transform: rotate(90deg);
  }

  &:hover {
    transition: 0.4s ease;
    background-color: @black;
  }
}

.history__slider .swiper-button-prev {
  top: 40px;
  left: auto;
  right: 58px;

  @media (min-width: @tablet-width) {
    top: 40px;
    right: 48px;
  }
}

.history__slider .swiper-button-next {
  top: 40px;
  left: auto;
  right: 0;

  @media (min-width: @tablet-width) {
    top: 88px;
  }
}
